# docker-compose.yaml
# -----------------------------------------------------------------------------
# https://docs.docker.com/compose/how-tos/environment-variables/envvars/
COMPOSE_PROFILES=localstack

# LOCALSTACK_GATEWAY_HOST=127.0.0.1
# LOCALSTACK_GATEWAY_PORT=4566
# LOCALSTACK_EXTERNAL_SERVICES_HOST=127.0.0.1
# LOCALSTACK_EXTERNAL_SERVICES_PORT_RANGE=4510-4559

# Development
# -----------------------------------------------------------------------------
# Override the AWS endpoint URL of the workspace container to use LocalStack service
# AWS_ENDPOINT_URL=http://localhost:4566
