# docker-compose.yaml
# -----------------------------------------------------------------------------
# https://docs.docker.com/compose/how-tos/environment-variables/envvars/
COMPOSE_PROFILES=localstack

# LOCALSTACK_GATEWAY_HOST=
# LOCALSTACK_GATEWAY_PORT=
# LOCALSTACK_EXTERNAL_SERVICES_HOST=
# LOCALSTACK_EXTERNAL_SERVICES_PORT_RANGE=

# Development
# -----------------------------------------------------------------------------
# Override the AWS endpoint URL of the workspace container to use LocalStack service
# AWS_ENDPOINT_URL="http://localhost:4566"
