# https://docs.docker.com/compose/how-tos/environment-variables/envvars/
COMPOSE_PROFILES=localstack

# See Docker Compose files for supported environment variables & profiles.

# docker-compose.devcontainer.yaml
# -----------------------------------------------------------------------------
# Override the AWS endpoint URL of the workspace container to use LocalStack service
AWS_ENDPOINT_URL="http://localstack:4566"

# LOCALSTACK_GATEWAY_HOST=
# LOCALSTACK_GATEWAY_PORT=
# LOCALSTACK_EXTERNAL_SERVICES_HOST=
# LOCALSTACK_EXTERNAL_SERVICES_PORT_RANGE=
